body {
    color: white;
}

label {
    overflow: hidden;
    margin-bottom: 2em;
}
#logo {
    max-width: 235px;
    padding: 3% 0;
}
@media (min-width: 768px) {
    #logo {
        padding-top: 0;
    }
}
select {
    margin-top:.40em;
}
label select {
    font-size: 1em;
    padding: 15px 8px;
    width: 265px;
    border: none;
    box-shadow: none;
    background: white;
    background-image: none;
    -webkit-appearance: none;
    /* background: #fafafa url("../img/icon-select.svg") no-repeat 90% 50%; */
}
@media (min-width: 375px) {
    label select {
        font-size: 1.2em;
        width: 300px;
    }
}

@media (min-width: 768px) {
    label select {
        width: 335px;
    }
}

@media (min-width: 1024px) {
    label {
        font-size: 1.9em;
    }
    label select {
        font-size: .7em;
    }
}

/* input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
} */

input[type=submit] {
    padding: 10px 60px;
    background: lightgreen;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1.25em;
}