.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 140%; 
	vertical-align: middle; 
	overflow: hidden; 
  /* background: black; */
}
.svg-content.guitar-body { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.lefty-strat-parent .svg-content.pickguard {
    display: inline-block;
   position: absolute;
   top: 19%;
   left: 6%; 
 width: 67%;
}
#strat-lh {
    fill: white;
}
.lefty-strat-parent #strat-pickguard-lh {
 fill: white;
}
.lefty-strat-parent #hardware {
 display: inline-block;
 position: absolute;
 left: -2.8%;
 top: 28%;
 width:100%;
}


.righty-strat-parent .svg-content.pickguard {
    display: inline-block;
   position: absolute;
   top: 19%;
   right: 6%; 
 width: 67%;
}
#strat-rh {
    fill: white;
  }
.righty-strat-parent #strat-pickguard-rh {
 fill: white;
}
.righty-strat-parent #hardware {
 display: inline-block;
 position: absolute;
 right: -2.8%;
 top: 28%;
 width:100%;
}

.lefty-les-paul-parent #les-paul-lh {
  fill: white;
}
.lefty-les-paul-parent .svg-content.pickguard {
  display: inline-block;
	position: absolute;
	top: 17%;
	left: 2%; 
  width: 59%;
}
.lefty-les-paul-parent #les-paul-pickguard-lh {
  fill: white;
}
.lefty-les-paul-parent #hardware {
  display: inline-block;
  position: absolute;
  left: -3%;
  top: 15%;
  width:105%;
}


.righty-les-paul-parent #les-paul-rh {
  fill: white;
}
.righty-les-paul-parent .svg-content.pickguard {
 	display: inline-block;
	position: absolute;
	top: 17%;
	right: 2%; 
  width: 59%;
}
.righty-les-paul-parent #les-paul-pickguard-rh {
  fill: white;
}
.righty-les-paul-parent #hardware {
  display: inline-block;
  position: absolute;
  left: -2%;
  top: 15%;
  width:105%;
}