.flex-parent {
    display: flex;
    flex-direction: column;
}
@media (min-width: 769px) {
    .flex-parent {
        flex-direction: row;
    }
}
.guitar-component, .form-component {
    flex: 1;
}
.form-component {
    align-self: center;
}
.form-component label, .form-component select {
    display: block;
}